*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: "Roboto", sans-serif;
}

body{
  background-color: #141414;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #141414 inset !important; 
  box-shadow: 0 0 0 30px #141414 inset !important;
  -webkit-text-fill-color: #ffffff !important; 
}